.mt3 {
    margin-top: 3rem !important;
}

.card {
    width: 100% !important;
    border-radius: 0 !important;
    box-shadow: 0 0 0 1px #ffffff !important;
    background-color: black !important;
    color: white !important;
}

.ui.card>:first-child {
    border-radius: 0 !important;
}

.replyform {
    height: 4em !important;
}

.postcaption {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.iframeaddin {
    height: 320px !important;
    width: 100% !important;
    border-radius: 0 !important;
}

.iframeaddinSingle {
    height: 550px !important;
    width: 100% !important;
    border-radius: 0 !important;
}

.GridPostHome {
    margin-left: 15rem !important;
    margin-right: 15rem !important;
}

.postsidebarAddin {
    display: flex !important;
    justify-content: center !important;
    background-color: white !important;
    color: black !important;
}

.feedClass {
    width: 100% !important;
}

.ui.feed>.event {
    padding: 0 !important;
}

.cardElement {
    font-weight: 500 !important;
    color: #ffffff !important;
}

.ui.feed>.event>.content .summary {
    font-size: 1.5em !important;
}

.usernameCard {
    color: #ffffff !important;

}

.usernameCard:hover {
    text-decoration: underline !important;
}

.modalPost {
    background-color: rgb(0, 0, 0) !important;
    color: rgb(255, 255, 255) !important;
    border-radius: 0 !important;
}