.headerName {
    font-size: 4vw !important;
    margin: 0 1rem 5rem 1rem !important;
    line-height: 1.2em !important;
    color: black !important;
    /* letter-spacing: -0.8rem !important; */


}

.headerDescription {
    margin: 0 1rem 2rem 1rem !important;
    line-height: 1em !important;
    font-size: 2vw !important;
    font-weight: 500 !important;
    color: black !important;

}
    



.smiley {
    width: 100px !important;
    height: 100px !important;
    margin: 1rem 1rem 1rem 1rem !important;
}