.headerName {
    font-size: 3em !important;
    margin: 1rem 1rem 1rem 1rem !important;
    line-height: 0.9em !important;
    color: rgb(255, 255, 255) !important;
    /* letter-spacing: -0.8rem !important; */
    font-weight: 500 !important;
}
