.mt3 {
    margin-top: 3rem !important;
}

/* 
.card {
    width: 100% !important;
    border-radius: 0 !important;
    box-shadow: 0 0 0 3px #000000 !important;
} */

.ui.card>:first-child {
    border-radius: 0 !important;
}

.replyform {
    height: 4em !important;
}

.postcaption {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

/* 
.iframeaddin {
    height: 480px !important;
    width: 100% !important;
    border-radius: 0 !important;
} */

.GridPostHome {
    padding: 1rem 1rem 1rem 1rem !important;
}

.sideBar {
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 45% !important;

}


.mainBar {
    margin-top: 2.5rem !important;
}

.ui.modal>.actions {
    text-align: center !important;
}

.modalContent {
    text-align: center !important;
}

.userheaderName {
    font-size: 3em !important;
    margin: 1rem 0rem 1rem 0rem !important;
    line-height: 0.9em !important;
    color: rgb(255, 255, 255) !important;
    /* letter-spacing: -0.8rem !important; */
    font-weight: 500 !important;
}

.userheaderDes {
    font-size: 2em !important;
    margin: 1rem 0rem 1rem 0rem !important;
    line-height: 0.9em !important;
    color: rgb(255, 255, 255) !important;
    /* letter-spacing: -0.8rem !important; */
    font-weight: 300 !important;
}