body {
    /* font-size: 16px;
    line-height: 1.25; */
    /* padding: 0 !important;
    margin: 0 !important; */
    overflow-x: hidden;
    /* color: black !important; */
    background-color: #000 !important;
    color: #fff !important;
}

h1, h3, h5 {
    font-family: 'Space Grotesk', sans-serif !important;

}

h2, h4, h6 {}

a {
    color: white !important;
}

a:hover {
    text-decoration: line-through !important;
}

button {
    background-color: rgb(0, 0, 0) !important;
    color: #fff !important;
    border-radius: 0 !important;
    box-shadow: 0 0px 2px 0 rgba(0, 0, 0, .87), 0 0 0 0px #000000 !important;
}

input {
    background-color: #000 !important;
    color: #fff !important;
    border-radius: 0 !important;
}

textarea {
    background-color: #000 !important;
    color: #fff !important;
    border-radius: 0 !important;
    border-color: darkgrey !important;
}

.ui.input {
    color: rgb(255 255 255 / 87%) !important;
}


::selection {
    background-color: rgb(255, 255, 255) !important;
    color: rgb(0, 0, 0) !important;
    text-shadow: none !important;
}

#header {
    /* background-color: #993399;
    background-image: url('../images/header-bg.png');
    background-size: contain;
    background-repeat: repeat;
    background-position: left top; */
}

span {
    text-align: left !important;
    padding-top: 0 !important;
}

.messageForm {
    margin-top: 3rem !important;
    color: white !important;
}